// ⚪ White 계열
$colors-white-1: #fff;
$colors-white-2: rgb(247, 249, 249);
$colors-white-3: aliceblue;
$colors-white-4: rgba(0, 186, 124, 0.01);
$colors-white-5: rgba(249, 24, 128, 0.01);

// ⚫ Black 계열
$colors-black-1: rgb(15, 20, 25);
$colors-black-2: rgb(39, 44, 48);
$colors-black-3: #000;

// ⚪⚫ Gray 계열
$colors-gray-1: rgba(0, 0, 0, 0.08);
$colors-gray-2: rgba(15, 20, 25, 0.1);
$colors-gray-3: rgb(207, 217, 222);
$colors-gray-4: rgba(0, 0, 0, 0.4);
$colors-gray-5: rgb(83, 100, 113);

// 🔵 Blue 계열
$colors-blue-1: rgb(29, 155, 240);
$colors-blue-2: rgb(26, 140, 216);

// 🟢 Green 계열
$colors-green-1: rgba(0, 186, 124, 0.1);
$colors-green-2: rgb(11, 175, 123);

// 🌸 Pink 계열
$colors-pink-1: rgba(249, 24, 128, 0.1);
$colors-pink-2: rgb(228, 34, 126);
